body{
    background-color: var(--darkColor);
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    max-width: 960px;
}
:root{
    --darkColor: rgb(66, 62, 62);
    --middleColor: rgb(113, 108, 108);
    --lighterColor: rgb(223, 223, 223);
    --modernPink: #9b8383;

}
::selection{
    color: rgb(223, 223, 223);
    background-color: var(--middleColor);
}
a{
    color: var(--lighterColor);
    text-decoration: none;
}
a:active{
    color: rgb(183, 93, 105);
    text-decoration: none;
}

/* NavBar */
.pageContent{
    color: var(--lighterColor);
    font-size: 20px;
    font-family: 'Poppins-thin', 'arial';
    flex-grow: 1;
    text-align: center;
}
li.pageContent:hover{
    cursor: pointer;
    background-color: var(--middleColor);
}
.links{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: end;
    list-style-type: none;
}

/* Banner */
.recipeDisplayBanner{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-self: center
}
#sashimiDemo{
    margin-top: 20px;
    width: 400px;
}
/* Middle Row */
.middleRow{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(53, 52, 52, 0.2);
}

/* AddRecipe Row */
#addRecipeIcons input{
    height: 0;
    width: 0;
    opacity: 0;
}
#addRecipeIcons{
    display: flex;
    justify-content: center;
    border: solid var(--modernPink) 1px;
    border-radius: 10px;
    padding: 0% 10px 0% 10px;
    margin: 0px 100px 0px 100px;
    color: var(--darkColor);
    background-color: rgb(172, 158, 158);
    font-size: 20px;
}
#addRecipeIcon{
    flex-direction: row;
    padding-left: 5px;
}
#addRecipe{
    color: var(--lighterColor);
    font-size: 20px;
    font-family: 'Poppins-thin', 'arial';
}

.img-grid{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.img-wrap{
    /* overflow: hidden; */
    height: 0;
    padding: 50% 0;
    position: relative;
    opacity: 0.8;
}


/* ProgressBar */
.progress-bar{
    height: 5px;
    background-color: var(--lighterColor);
    margin-top: 20px;
}

/* Register Recipe */
.registerRecipe{
    padding: 20px;
    opacity: 0.95;
    color: black;
    background-color:rgb(181, 172, 172);
    position: absolute;
    top: 10vh;
    left: 15%;
    width: 75%;
    max-height:90%;
    border-radius: 10px;
    overflow-y: scroll;
}
.registerRecipe::-webkit-scrollbar {
    display: none;
}
#registerRecipePopUp{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}
.close-btn{
    color: var(--darkColor);
    position: absolute;
    right: 4%;
}
input[type="textfield"] {
    border-radius: 5px;
}
input[type="textfield"]:focus {
    outline:auto rgb(184, 119, 119);
    box-shadow: 0px 0px 5px rgb(217, 117, 117);
    border:1px solid #9b8383;

}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:rgb(255, 255, 255);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio']:checked:after {
    background-color: rgb(217, 117, 117);
    display: inline-block;
    border: 2px solid white;
}
.output{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    max-height: 50vh;
    align-self: center;
}
#recipeImg{
    border: solid 3px var(--modernPink) ;
    border-radius: 5px;
    flex-wrap: wrap;
}
#radioBtn{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
#ingredientListBody{
    width: 100%;
}
.className input:focus + div {
    background-color: #9b8383 ;
}
#ingredientParts{
    display: flex;
    justify-content:space-around;
    margin: 0% 0% 10px 0%;
}
#addIngredient{
    font-size: 13px;
    border: 2px solid;
    padding: 5px 10px 5px 10px;
    margin: 5px 50px 0px 40%;
    width: 20%;
}
#deleteIngredientRow{
    position: absolute;
    right: 20px;
    color: aliceblue;
    background-color: rgb(129, 59, 59);
    padding: 0 5px 0 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#addStepsBtn{
    background-color: rgb(155, 145, 145);
    width: 70%;
}

/* Detailed Recipe */
#recipeDetailsParent{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.detailedRecipe{
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 10px;
    width: 70%;
    height: 50%;
    position: absolute;
    background-color: var(--lighterColor);
    opacity: 0.95;
    max-height:90%;
    border-radius: 10px;
    color: black
    /* overflow-y: scroll; */
    
}
.detailedRecipe::-webkit-scrollbar {
    display: none;
}

/* HandleRecipe */
.recipeList{
    padding: 5px 0px 5px 0px;
    /* font-size: 1em; */
    font-family: 'Poppins-thin', 'arial';
}
.recipePreview{
    display: flex;
    justify-content: space-between;
}
.deleteRecipeBtn{
    padding: 0% 10px 0% 10px;
    border: 0.5px solid var(--lighterColor);
}
.recipePreview{
    margin: 0px 0px 5px 0px;
    background-color: rgb(37, 36, 36);
}
.recipePreview:hover{
    border: 0.5px solid var(--middleColor);
    background-color: rgb(47, 46, 46);
    box-shadow: 1px 3px 5px rgb(72, 69, 69);
}

/* ImageSlider */
.imgSliderContainer{
    width: 500px;
    height: 280px;
    margin: 0 auto;

}
/* Fonts */
@font-face {
    font-family: Poppins-Thin;
    src: url(../Fonts/Poppins-Thin.ttf);
    font-weight: lighter;
}